/.vs
/BlocApp/.vs/BlocApp/v16
/BlocApp/BlocApp/BlocApp.iOS/obj
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/stamp
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/res/values
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/res
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/android/bin
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/android/src
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/android/assets
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/android
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/flata
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/linkdst
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/linksrc
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/lp
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/acw-map.txt
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/adb.props
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/BlocApp.Android.csproj.CopyComplete
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/BlocApp.Android.csproj.CoreCompileInputs.cache
/BlocApp/BlocApp/BlocApp.Android/bin/Debug
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/BlocApp.Android.csprojAssemblyReference.cache
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/BlocApp.Android.dll
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/BlocApp.Android.pdb
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/build.props
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/buildid.txt
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/devices.cache
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/customview-map.txt
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/resolved_assemblies.txt
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/resolvedassemblies.hash
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/res.flag
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/R.txt
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/R.cs.flag
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/MonoAndroid,Version=v9.0.AssemblyAttributes.cs
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/link.flag
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/libraryprojectimports.cache
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/libraryimports.cache
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/_javac.stamp
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/XamlC.stamp
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/static.flag
/BlocApp/BlocApp/BlocApp.Android/obj/Debug/90/resourcepaths.cache
/BlocApp/BlocApp/BlocApp.Android/obj/BlocApp.Android.csproj.nuget.cache
/BlocApp/BlocApp/BlocApp/obj/Debug/netstandard2.0/Views
/BlocApp/BlocApp/BlocApp/obj/Debug/netstandard2.0/XamlC.stamp
/BlocApp/BlocApp/BlocApp/obj/Debug/netstandard2.0/BlocApp.pdb
/BlocApp/BlocApp/BlocApp/obj/Debug/netstandard2.0/BlocApp.dll
/BlocApp/BlocApp/BlocApp/obj/Debug/netstandard2.0/BlocApp.AssemblyInfoInputs.cache
/BlocApp/BlocApp/BlocApp/obj/Debug/netstandard2.0/BlocApp.AssemblyInfo.cs
/BlocApp/BlocApp/BlocApp/obj/Debug/netstandard2.0/App.xaml.g.cs
/BlocApp/BlocApp/BlocApp/obj/Debug/netstandard2.0/BlocApp.csproj.CoreCompileInputs.cache
/BlocApp/BlocApp/BlocApp/obj/BlocApp.csproj.nuget.cache
/BlocApp/BlocApp/BlocApp/bin/Debug/netstandard2.0/BlocApp.pdb
/BlocApp/BlocApp/BlocApp/bin/Debug/netstandard2.0/BlocApp.dll.mdb
/BlocApp/BlocApp/BlocApp/bin/Debug/netstandard2.0
